*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}

nav{
    background: #1a1a1a;
    width: 100;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.uer-info{
    display: flex;
    align-items: center;
}
uer-info h3{
    font-weight: 500;

}
uer-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
